Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) 
from trak.in.

In [1]:
#Importing important library.
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
#Importing Chrome-webriver
driver=webdriver.Chrome(r'"C:\Users\amits\Desktop\chromedriver_win32\chromedriver.exe"')

In [3]:
#Maximazing windows
driver.maximize_window()

In [4]:
#Opening Amazon Website
url='https://trak.in/india-startup-funding-investment-2015/'
driver.get(url)

**Scrapping Data of March 21**

In [7]:
Date=[]
date=driver.find_elements(By.XPATH,"//td[@class='column-2']")
for i in date[5:11]:
    Date.append(i.text)
    
Date

['04/03/2021',
 '31/03/2021',
 '30/03/2021',
 '30/03/2021',
 '23/03/2021',
 '25/03/2021']

In [8]:
Startup_Name=[]
start=driver.find_elements(By.XPATH,"//td[@class='column-3']")
for i in start[5:11]:
    Startup_Name.append(i.text)
    
Startup_Name

['DealShare', 'Uniphore', 'Dunzo', 'BYJU’S', 'SkilloVilla', 'CityMall']

In [11]:
Industry=[]
ind=driver.find_elements(By.XPATH,"//td[@class='column-4']")
for i in ind[5:11]:
    Industry.append(i.text)
    
Industry

['E-commerce',
 'Technology',
 'E-commerce',
 'Edu-tech',
 'Edu-tech',
 'E-commerce']

In [13]:
Sub_div=[]
sub=driver.find_elements(By.XPATH,"//td[@class='column-5']")
for i in sub[5:11]:
    Sub_div.append(i.text)
    
Sub_div

['Online shopping platform',
 'Conversational Service Automation (CSA)',
 'Hyper-local delivery app',
 'Online tutoring',
 'Career and job-oriented upskilling.',
 'Social ecommerce and online grocery platform']

In [14]:
Location=[]
loc=driver.find_elements(By.XPATH,"//td[@class='column-6']")
for i in loc[5:11]:
    Location.append(i.text)
    
Location

['Jaipur, Rajasthan',
 'Palo Alto',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Gurgaon']

In [15]:
Investor_Name=[]
inv=driver.find_elements(By.XPATH,"//td[@class='column-7']")
for i in inv[5:11]:
    Investor_Name.append(i.text)
    
Investor_Name

['Innoven Capital',
 'Sorenson Capital Partners',
 'Krishtal Advisors Pte Ltd',
 'MC Global Edtech, B Capital, Baron, others',
 'Titan Capital, others',
 'Accel Partners']

In [17]:
Investment_type=[]
inv=driver.find_elements(By.XPATH,"//td[@class='column-8']")
for i in inv[5:11]:
    Investment_type.append(i.text)
    
Investment_type

['Debt Financing', 'Series D', 'Series E', 'Series F', 'Seed', 'Series A']

In [18]:
March=pd.DataFrame({"Date":Date,"Start-Up Name":Startup_Name,"Industry/Division":Industry,"Sub-Division":Sub_div,"Location":Location,"Investor Name":Investor_Name,"Investment Type":Investment_type})
March

,Date,Start-Up Name,Industry/Division,Sub-Division,Location,Investor Name,Investment Type
0,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing
1,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D
2,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E
3,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F
4,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed
5,25/03/2021,CityMall,E-commerce,Social ecommerce and online grocery platform,Gurgaon,Accel Partners,Series A

**Scrapping Data of January2021**

In [20]:
Date=[]
date=driver.find_elements(By.XPATH,"//td[@class='column-2']")
for i in date[21:29]:
    Date.append(i.text)
    
Date

['15/01/2021',
 '28/01/2021',
 '19/01/2021',
 '19/01/2021',
 '18/01/2021',
 '18/01/2021',
 '11/01/2021',
 '13/01/2021']

In [21]:
Startup_Name=[]
start=driver.find_elements(By.XPATH,"//td[@class='column-3']")
for i in start[21:29]:
    Startup_Name.append(i.text)
    
Startup_Name

['Digit Insurance',
 'Bombay Shaving Company',
 'DeHaat',
 'Darwinbox',
 'mfine',
 'Udayy',
 'True Elements',
 'Saveo']

In [22]:
Industry=[]
ind=driver.find_elements(By.XPATH,"//td[@class='column-4']")
for i in ind[21:29]:
    Industry.append(i.text)
    
Industry

['Financial Services',
 'Consumer Goods Company',
 'AgriTech Startup',
 'SaaS',
 'Health Tech Startup',
 'EdTech',
 'Food Startup',
 'B2B E-commerce']

In [23]:
Sub_div=[]
sub=driver.find_elements(By.XPATH,"//td[@class='column-5']")
for i in sub[21:29]:
    Sub_div.append(i.text)
    
Sub_div

['Insurance Services',
 'Shave care, beard care, and skincare products',
 'online marketplace for farm products and services',
 'HR Tech',
 'AI-powered telemedicine mobile app',
 'Online learning platform for kids in class 1-5',
 'Whole Food plant based Nashta',
 'Pharmacies']

In [24]:
Location=[]
loc=driver.find_elements(By.XPATH,"//td[@class='column-6']")
for i in loc[21:29]:
    Location.append(i.text)
    
Location

['Bengaluru',
 'New Delhi',
 'Patna',
 'Mumbai',
 'Bengaluru',
 'Gurgaon',
 'Pune',
 'Bengaluru']

In [25]:
Investor_Name=[]
inv=driver.find_elements(By.XPATH,"//td[@class='column-7']")
for i in inv[21:29]:
    Investor_Name.append(i.text)
    
Investor_Name

['A91 Partners, Faering Capital, TVS Capital Funds',
 'Reckitt Benckiser',
 'Prosus Ventures',
 'Salesforce Ventures',
 'Heritas Capital Management',
 'Sequoia Capital',
 'SIDBI Venture Capital',
 'Matrix Partners India, RTP Global, others']

In [26]:
Investment_type=[]
inv=driver.find_elements(By.XPATH,"//td[@class='column-8']")
for i in inv[21:29]:
    Investment_type.append(i.text)
    
Investment_type

['Venture',
 'Venture',
 'Series C',
 'Seed',
 'Venture Round',
 'Seed Funding',
 'Series',
 'Seed']

In [27]:
January=pd.DataFrame({"Date":Date,"Start-Up Name":Startup_Name,"Industry/Division":Industry,"Sub-Division":Sub_div,"Location":Location,"Investor Name":Investor_Name,"Investment Type":Investment_type})
January

,Date,Start-Up Name,Industry/Division,Sub-Division,Location,Investor Name,Investment Type
0,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture
1,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture
2,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C
3,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed
4,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round
5,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding
6,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series
7,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed