In [1]:
#Importing important library.
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from bs4 import BeautifulSoup
import requests

In [2]:
#Importing Chrome-webriver
driver=webdriver.Chrome(r'"C:\Users\amits\Desktop\chromedriver_win32\chromedriver.exe"')

In [3]:
#Maximazing windows
driver.maximize_window()

In [4]:
#Opening Amazon Website
url='https://www.forbes.com/billionaires/'
driver.get(url)

In [7]:
Rank=[]
rank=driver.find_elements(By.XPATH,"//div[@class='rank']")
for i in rank[0:40]:
    Rank.append(i.text)
    
Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '19.',
 '21.',
 '21.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '31.',
 '32.',
 '33.',
 '34.',
 '35.',
 '36.',
 '37.',
 '37.',
 '39.',
 '40.']

In [8]:
Name=[]
name=driver.find_elements(By.XPATH,"//div[@class='personName']")
for i in name[0:40]:
    Name.append(i.text)
    
Name

['Elon Musk',
 'Jeff Bezos',
 'Bernard Arnault & family',
 'Bill Gates',
 'Warren Buffett',
 'Larry Page',
 'Sergey Brin',
 'Larry Ellison',
 'Steve Ballmer',
 'Mukesh Ambani',
 'Gautam Adani',
 'Michael Bloomberg',
 'Carlos Slim Helu & family',
 'Francoise Bettencourt Meyers & family',
 'Mark Zuckerberg',
 'Jim Walton',
 'Zhong Shanshan',
 'Alice Walton',
 'Rob Walton',
 'Changpeng Zhao',
 'Charles Koch',
 'Julia Koch & family',
 'Amancio Ortega',
 'Michael Dell',
 'Zhang Yiming',
 'David Thomson & family',
 'Phil Knight & family',
 'Dieter Schwarz',
 'Robin Zeng',
 'MacKenzie Scott',
 'Rodolphe Saadé & family',
 'François Pinault & family',
 'Klaus-Michael Kuehne',
 'Ma Huateng',
 'Beate Heister & Karl Albrecht Jr. & family',
 'Giovanni Ferrero',
 'Li Ka-shing',
 'Stephen Schwarzman',
 'Lee Shau Kee',
 'Len Blavatnik']

In [10]:
Net_worth=[]
net=driver.find_elements(By.XPATH,"//div[@class='netWorth']")
for i in net[0:40]:
    Net_worth.append(i.text)
    
Net_worth

['$219 B',
 '$171 B',
 '$158 B',
 '$129 B',
 '$118 B',
 '$111 B',
 '$107 B',
 '$106 B',
 '$91.4 B',
 '$90.7 B',
 '$90 B',
 '$82 B',
 '$81.2 B',
 '$74.8 B',
 '$67.3 B',
 '$66.2 B',
 '$65.7 B',
 '$65.3 B',
 '$65 B',
 '$65 B',
 '$60 B',
 '$60 B',
 '$59.6 B',
 '$55.1 B',
 '$50 B',
 '$49.2 B',
 '$47.3 B',
 '$47.1 B',
 '$44.8 B',
 '$43.6 B',
 '$41.4 B',
 '$40.4 B',
 '$37.3 B',
 '$37.2 B',
 '$36.8 B',
 '$36.2 B',
 '$34.8 B',
 '$34.8 B',
 '$32.6 B',
 '$32.5 B']

In [11]:
Country=[]
country=driver.find_elements(By.XPATH,"//div[@class='countryOfCitizenship']")
for i in country[0:40]:
    Country.append(i.text)
    
Country

['United States',
 'United States',
 'France',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'India',
 'India',
 'United States',
 'Mexico',
 'France',
 'United States',
 'United States',
 'China',
 'United States',
 'United States',
 'Canada',
 'United States',
 'United States',
 'Spain',
 'United States',
 'China',
 'Canada',
 'United States',
 'Germany',
 'Hong Kong',
 'United States',
 'France',
 'France',
 'Germany',
 'China',
 'Germany',
 'Italy',
 'Hong Kong',
 'United States',
 'Hong Kong',
 'United States']

In [31]:
Age=[]
age=driver.find_elements(By.XPATH,"//div[@class='age']")
for i in age[0:40]:
    Age.append(i.text)
    
Age

['50',
 '58',
 '73',
 '66',
 '91',
 '49',
 '48',
 '77',
 '66',
 '64',
 '59',
 '80',
 '82',
 '68',
 '37',
 '73',
 '67',
 '72',
 '77',
 '44',
 '86',
 '59',
 '86',
 '57',
 '38',
 '64',
 '84',
 '82',
 '53',
 '51',
 '52',
 '85',
 '84',
 '50',
 'N/A',
 '57',
 '93',
 '75',
 '94',
 '64']

In [23]:
Source=[]
source=driver.find_elements(By.XPATH,"//span[@class='source-text']")
for i in source[0:40]:
    Source.append(i.text)
    
Source

['Tesla, SpaceX',
 'Amazon',
 'LVMH',
 'Microsoft',
 'Berkshire Hathaway',
 'Google',
 'Google',
 'software',
 'Microsoft',
 'diversified',
 'infrastructure, commodities',
 'Bloomberg LP',
 'telecom',
 "L'Oréal",
 'Facebook',
 'Walmart',
 'beverages, pharmaceuticals',
 'Walmart',
 'Walmart',
 'cryptocurrency exchange',
 'Koch Industries',
 'Koch Industries',
 'Zara',
 'Dell computers',
 'TikTok',
 'media',
 'Nike',
 'retail',
 'batteries',
 'Amazon',
 'shipping',
 'luxury goods',
 'shipping',
 'internet media',
 'supermarkets',
 'Nutella, chocolates',
 'diversified',
 'investments',
 'real estate',
 'music, chemicals']

In [32]:
Industry=[]
ind=driver.find_elements(By.XPATH,"//div[@class='category']")
for i in ind[0:40]:
    Industry.append(i.text)
    
Industry

['Automotive',
 'Technology',
 'Fashion & Retail',
 'Technology',
 'Finance & Investments',
 'Technology',
 'Technology',
 'Technology',
 'Technology',
 'Diversified',
 'Diversified',
 'Media & Entertainment',
 'Telecom',
 'Fashion & Retail',
 'Technology',
 'Fashion & Retail',
 'Food & Beverage',
 'Fashion & Retail',
 'Fashion & Retail',
 'Finance & Investments',
 'Diversified',
 'Diversified',
 'Fashion & Retail',
 'Technology',
 'Media & Entertainment',
 'Media & Entertainment',
 'Fashion & Retail',
 'Fashion & Retail',
 'Automotive',
 'Technology',
 'Logistics',
 'Fashion & Retail',
 'Logistics',
 'Technology',
 'Fashion & Retail',
 'Food & Beverage',
 'Diversified',
 'Finance & Investments',
 'Real Estate',
 'Diversified']

In [33]:
df=pd.DataFrame({"Rank":Rank,"Name":Name,"Age":Age,"Country of Origin":Country,"Networth":Net_worth,"Source":Source,"Industry":Industry})
df

,Rank,Name,Age,Country of Origin,Networth,Source,Industry
0,1.,Elon Musk,50,United States,$219 B,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,58,United States,$171 B,Amazon,Technology
2,3.,Bernard Arnault & family,73,France,$158 B,LVMH,Fashion & Retail
3,4.,Bill Gates,66,United States,$129 B,Microsoft,Technology
4,5.,Warren Buffett,91,United States,$118 B,Berkshire Hathaway,Finance & Investments
5,6.,Larry Page,49,United States,$111 B,Google,Technology
6,7.,Sergey Brin,48,United States,$107 B,Google,Technology
7,8.,Larry Ellison,77,United States,$106 B,software,Technology
8,9.,Steve Ballmer,66,United States,$91.4 B,Microsoft,Technology
9,10.,Mukesh Ambani,64,India,$90.7 B,diversified,Diversified
10,11.,Gautam Adani,59,India,$90 B,"infrastructure, commodities",Diversified
11,12.,Michael Bloomberg,80,United States,$82 B,Bloomberg LP,Media & Entertainment
12,13.,Carlos Slim Helu & family,82,Mexico,$81.2 B,telecom,Telecom
13,14.,Francoise Bettencourt Meyers & family,68,France,$74.8 B,L'Oréal,Fashion & Retail
14,15.,Mark Zuckerberg,37,United States,$67.3 B,Facebook,Technology
15,16.,Jim Walton,73,United States,$66.2 B,Walmart,Fashion & Retail
16,17.,Zhong Shanshan,67,China,$65.7 B,"beverages, pharmaceuticals",Food & Beverage
17,18.,Alice Walton,72,United States,$65.3 B,Walmart,Fashion & Retail
18,19.,Rob Walton,77,United States,$65 B,Walmart,Fashion & Retail
19,19.,Changpeng Zhao,44,Canada,$65 B,cryptocurrency exchange,Finance & Investments
20,21.,Charles Koch,86,United States,$60 B,Koch Industries,Diversified
21,21.,Julia Koch & family,59,United States,$60 B,Koch Industries,Diversified
22,23.,Amancio Ortega,86,Spain,$59.6 B,Zara,Fashion & Retail
23,24.,Michael Dell,57,United States,$55.1 B,Dell computers,Technology
24,25.,Zhang Yiming,38,China,$50 B,TikTok,Media & Entertainment
25,26.,David Thomson & family,64,Canada,$49.2 B,media,Media & Entertainment
26,27.,Phil Knight & family,84,United States,$47.3 B,Nike,Fashion & Retail
27,28.,Dieter Schwarz,82,Germany,$47.1 B,retail,Fashion & Retail
28,29.,Robin Zeng,53,Hong Kong,$44.8 B,batteries,Automotive
29,30.,MacKenzie Scott,51,United States,$43.6 B,Amazon,Technology
30,31.,Rodolphe Saadé & family,52,France,$41.4 B,shipping,Logistics
31,32.,François Pinault & family,85,France,$40.4 B,luxury goods,Fashion & Retail
32,33.,Klaus-Michael Kuehne,84,Germany,$37.3 B,shipping,Logistics
33,34.,Ma Huateng,50,China,$37.2 B,internet media,Technology
34,35.,Beate Heister & Karl Albrecht Jr. & family,N/A,Germany,$36.8 B,supermarkets,Fashion & Retail
35,36.,Giovanni Ferrero,57,Italy,$36.2 B,"Nutella, chocolates",Food & Beverage
36,37.,Li Ka-shing,93,Hong Kong,$34.8 B,diversified,Diversified
37,37.,Stephen Schwarzman,75,United States,$34.8 B,investments,Finance & Investments
38,39.,Lee Shau Kee,94,Hong Kong,$32.6 B,real estate,Real Estate
39,40.,Len Blavatnik,64,United States,$32.5 B,"music, chemicals",Diversified

In [34]:
df.to_csv(r'C:\Users\amits\Downloads\Forbes 40.csv',header=True,index=False )